* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

:root {
  --header-bg-color: #f55a5a;
  --primary-color: #ffff;
  --secondary-color: #2b283a;
  --links-color: #918e9b;
}

body {
  font-family: "inter", sans-serif, monospace;
  text-transform: capitalize;
}
::selection{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

hr {
  margin: 0 40px;
  height: 2px;
  background-color: var(--links-color);
  border: none;
  border-radius:10px ;
  -webkit-border-radius:10px ;
  -moz-border-radius:10px ;
  -ms-border-radius:10px ;
  -o-border-radius:10px ;
}
